.fullScreen {
  width: 100% !important;
  max-width: 100%;
}

.chat-page-grid {
  padding: 1rem;
}

.chat-container {
  display: flex;
  min-height: 90vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
