@use '@carbon/react';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.cds--content {
  margin-top: 3rem;
  padding: 0;
  background: var(--cds-background);
}
